menu "CircleMonitor Configuration"
    # Find your TZ string from: https://github.com/nayarsystems/posix_tz_db/blob/master/zones.csv
    config ESP_NTP_TZ
        string "NTP timezone"
        default "CET-1CEST,M3.5.0,M10.5.0/3"
        help
            Timezone.

    config ESP_NTP_SERVER
        string "NTP server host"
        default "pool.ntp.org"
        help
            NTP server hostname.

    config ESP_SYSLOG_SERVER
        string "Syslog server"
        default ""
        help
            Syslog server hostname. UDP only on port 514.

    config ESP_LHWM_URL
        string "Libre Hardware Monitor URL"
        default "http://pc.localdomain:8085/Sensor?action=Get&id="
        help
            Libre Hardware Monitor sensor URL.
            
endmenu